# Chặn thư mục build và file tạm
build/
dist/
nbbuild/
nbdist/
src/java/util/DBConnect.java
Libraries_JavaMail/
# --- CHIA SẺ CẤU HÌNH SERVER & THƯ VIỆN ---
!/nbproject/project.xml
!/nbproject/project.properties
!/nbproject/genfiles.properties
!/nbproject/ant-deploy.xml

# Chặn cấu hình riêng tư (quan trọng nhất để 2 máy không xung đột)
nbproject/private/
private/

# Chặn file log
*.log

# Chỉ giữ lại src, web và cấu hình khung của NetBeans
!/src/
!/web/
!/nbproject/project.xml
!/nbproject/project.properties